# ======================
# Obsidian
# ======================

.obsidian/cache/
.obsidian/workspace*
.obsidian/plugins/
.obsidian/themes/

# 可同步配置
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/hotkeys.json

# 不稳定配置（建议忽略）
.obsidian/community-plugins.json
.obsidian/core-plugins.json

# ======================
# System
# ======================
.DS_Store
Thumbs.db

